
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHD.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2> Envios Home Delivery<small>Index</small></h2> &nbsp;&nbsp;&nbsp;

                @if (User.IsInRole("homedeliveryqro") || User.IsInRole("admin"))
                {
                    <a class="btn btn-success" href="@Url.Action("Create")"> <i class="glyphicon glyphicon-plus-sign"></i> Agregar Registros</a>
                }

                @if (User.IsInRole("coordinadorinventarios") || User.IsInRole("admin"))
                {
                    <a class="btn btn-primary" href="@Url.Action("AsignacionAplicacion")"> <i class="fa fa-tags"></i> Agregar # De Aplicacion</a>
                }

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="form-horizontal form-label-left input_mask">
                    <div class="col-md-2 col-sm-2 col-xs-12 form-group has-feedback">
                        <input id="tipoenvio" name="tipoenvio" type="text" class="form-control has-feedback-left" placeholder="Tipo Envio">
                        <span class="fa fa-cubes form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-12 form-group has-feedback">
                        <input id="solicitante" name="solicitante" type="text" class="form-control has-feedback-left" placeholder="Solicitante">
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-12 form-group has-feedback">
                        <select id="mes" name="mes" class="form-control has-feedback-left">
                            <option value="">Seleccione un Mes...</option>
                            <option value="Enero">Enero</option>
                            <option value="Febrero">Febrero</option>
                            <option value="Marzo">Marzo</option>
                            <option value="Abril">Abril</option>
                            <option value="Mayo">Mayo</option>
                            <option value="Junio">Junio</option>
                            <option value="Agosto">Agosto</option>
                            <option value="Setptiembre">Setptiembre</option>
                            <option value="Octubre">Octubre</option>
                            <option value="Noviembre">Noviembre</option>
                            <option value="Diciembre">Diciembre</option>
                        </select>
                        <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-12 form-group has-feedback">
                        <input id="guia" name="guia" type="text" class="form-control has-feedback-left" placeholder="# Guia">
                        <span class="fa fa-globe form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-12 form-group has-feedback">
                        <input id="aplicacion" name="aplicacion" type="text" class="form-control has-feedback-left" placeholder="# Aplicacion">
                        <span class="fa fa-asterisk form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-12 form-group has-feedback">
                        <input id="fhRequerimiento" name="fhRequerimiento" type="text" class="form-control has-feedback-left" placeholder="Fecha Requerimiento" autocomplete="off">
                        <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                    </div>
                </div>
                <table class="table table-bordered" id="tblEnvios" width="100%">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Tipo Envio</th>
                            <th>Solicitante</th>
                            <th>Mes</th>
                            <th>Fecha Requerimiento</th>
                            <th>SKU</th>
                            <th>Descripcion</th>
                            <th>Piezas</th>
                            <th>Destino</th>
                            <th>CV</th>
                            <th>Cajas</th>
                            <th>Paqueteria</th>
                            <th>Referencia</th>
                            <th># Guia</th>
                            <th># Requerimiento</th>
                            <th>Tipo Salida</th>
                            <th># Aplicacion</th>
                            <th>Observaciones</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Custom Theme Scripts -->
<script src="~/build/js/custom.min.js"></script>

<!-- CSS Datatble -->
<link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css" rel="stylesheet" />

<!-- JQuery Datatble -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
<script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script>
    $(document).ready(function () {
        table = $('#tblEnvios').DataTable({
            "order": [[0, "desc"]],
            "ordering": true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "pagingType": "simple_numbers",
            "dom": 'Blrtip', // Hides Default Search
            "processing": true,
            "serverSide": true,
            "orderMulti": false,
            "responsive": true,
            "deferRender": true,
            rowId: 'id',
            select: true,
            "ajax": {
                "url": "/Envios/ObtenerEnvios",
                "type": "POST",
                "datatype": "json"
            },
            buttons: [

                {
                    extend: 'copyHtml5',
                    text: '<i class="fa fa-files-o"></i>',
                    titleAttr: 'COPIAR',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i>',
                    titleAttr: 'IMPRIMIR',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'excel',
                    text: '<i class="fa fa-file-excel-o"></i>',
                    titleAttr: 'EXCEL',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdf',
                    text: '<i class="fa fa-file-pdf-o"></i>',
                    titleAttr: 'PDF',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: ':visible'
                    }
                }

            ],
            "aoColumns": [
                { "data": "id", "autoWidth": true, "visible": false },
                { "data": "tipoenvio", "autoWidth": true },
                { "data": "solicitante", "autoWidth": true },
                { "data": "mes", "autoWidth": true },
                {
                    "data": "fecharequerimiento",
                    "name": "fecharequerimiento",
                    "render": function (data, type, full) {

                        var data1 = data.replace("/Date(", "").replace(")/", "");
                        var date = new Date(parseInt(data1));
                        var month = date.getMonth() + 1;
                        return date.getDate() + "-" + (month.toString().length > 1 ? month : "0" + month) + "-" + date.getFullYear();
                    },
                    "autoWidth": true
                },
                { "data": "sku", "autoWidth": true },
                { "data": "descripcion", "autoWidth": true },
                { "data": "cantidad", "autoWidth": true },
                { "data": "destino", "autoWidth": true },
                { "data": "cv", "autoWidth": true },
                { "data": "cajas", "autoWidth": true },
                { "data": "paqueteria", "autoWidth": true },
                { "data": "referenciaguia", "autoWidth": true },
                { "data": "numeroguia", "autoWidth": true },
                { "data": "numerorequerimiento", "autoWidth": true },
                { "data": "tiposalida", "autoWidth": true },
                { "data": "aplicacion", "autoWidth": true },
                { "data": "observaciones", "autoWidth": true },
            ]
        });

        $('#tipoenvio').on('keyup', function () {
            table.columns(1).search(this.value).draw();
        });

        $('#solicitante').on('keyup', function () {
            table.columns(2).search(this.value).draw();
        });

        $('#mes').on('change', function () {
            table.columns(3).search(this.value).draw();
        });

        $('#fhRequerimiento').on('change', function () {
            table.columns(4).search(this.value).draw();
        });

        $('#guia').on('keyup', function () {
            table.columns(13).search(this.value).draw();
        });

        $('#aplicacion').on('keyup', function () {
            table.columns(16).search(this.value).draw();
        });
    });

    $(function () {
        $("#fhRequerimiento").datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true
        });
    });
</script>