@{
    ViewBag.Title = "Contact";
}

<div class="row">
    <div class="col-md-3 col-sm-2 col-xs-12 profile_details">
    </div>
    <div class="col-md-5 col-sm-6 col-xs-12 profile_details">
        <div class="well profile_view">
            <div class="col-sm-12">
                <h4 class="brief"><i>Analista de Sistemas</i></h4>
                <div class="left col-xs-7">
                    <h2>Juan Ruben Hernandez Hernandez</h2>
                    <p><strong>Acerca de: </strong> Desarrolador Web / Soporte Tecnico  </p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-fax"></i> Teléfono #: 442-295-0899 Ext: 129</li>
                        <li><i class="fa fa-mobile-phone"></i> Celular #: 442-367-8115</li>
                        <li><i class="fa fa-at"></i> Correo #: rhernandez@opengatelogistics.com</li>
                    </ul>
                </div>
                <div class="right col-xs-5 text-center">
                    <img src="~/images/user.png" alt="" class="img-circle img-responsive">
                </div>
            </div>
            <div class="col-xs-12 bottom text-center">
                <div class="col-xs-12 col-sm-3 emphasis">

                </div>
                <div class="col-xs-12 col-sm-6 emphasis">
                    <button type="button" class="btn btn-success btn-xs">
                        <i class="fa fa-facebook-official"></i> Facebook
                    </button>
                    <button type="button" class="btn btn-info btn-xs">
                        <i class="fa fa-twitter-square"> </i> Twitter
                    </button>
                    <button type="button" class="btn btn-primary btn-xs">
                        <i class="fa fa-linkedin-square"> </i> LinkedIn
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Custom Theme Scripts -->
<script src="~/build/js/custom.min.js"></script>