<h1>Informacion General</h1>

<input id="txtRazonSocial" name="txtRazonSocial" type="text" placeholder="Razon Social" />
<input id="txtNombreComercial" name="txtNombreComercial" type="text" placeholder="Nombre Comercial" />
<input id="txtRepresentanteLegal" name="txtRepresentanteLegal" type="text" placeholder="Representante Legal" />
<input id="txtActividadEmpresarial" name="txtActividadEmpresarial" type="text" placeholder="Actividad Empresarial" />
<input id="txtRFC" name="txtRFC" type="text" placeholder="RFC" />
<input id="txtDiasCredito" name="txtDiasCredito" type="text" placeholder="Dias Credito" />
<br />
<input id="txtPais" name="txtPais" type="text" placeholder="Pais" />
<input id="txtEstado" name="txtEstado" type="text" placeholder="Estado" />
<input id="txtCiudad" name="txtCiudad" type="text" placeholder="Ciudad" />
<input id="txtColonia" name="txtColonia" type="text" placeholder="Colonia" />
<input id="txtCalle" name="txtCalle" type="text" placeholder="Calle" />
<input id="txtCodigoPostal" name="txtCodigoPostal" type="text" placeholder="Codigo Postal" />