
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPagoProveedores.cshtml";
}

<div id="MyModal" class="modal fade in">
    <div class="modal-dialog modal-lg" id="mdialTamanio">
        <div class="modal-content">
            <div id="MyModalContent"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Pagos <small>Index</small></h2> &nbsp;&nbsp;&nbsp;
                <a class="btn btn-success" href="@Url.Action("PagoFacturas")"> <i class="fa fa-credit-card-alt"></i> Pagar Facturas</a>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="datatablepago" class="table table-bordered jambo_table" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Numero
                            </th>
                            <th>
                                Estatus
                            </th>
                            <th>
                                Monto Total
                            </th>
                            <th>
                                Fecha Pago
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- CSS Datatble -->
<link href="~/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" rel="stylesheet" />

<!-- JQuery Datatble -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
<script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<!-- Custom Theme Scripts -->
<script src="~/build/js/custom.min.js"></script>
<!-- Column Filter -->
<script src="~/Scripts/jquery.dataTables.columnFilter.js"></script>
<script src="~/ScriptsDB/modalJs.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<script type="text/javascript">
    var table;
    var cancelacion = function (ID) {
        var detailsMessage;
        $.ajax({
            url: "/pagoes/Details/",
            type: "GET",
            data: { id: ID },
            success: function (result) {
                detailsMessage = "<div class='col-md-12 col-sm-12 col-xs-12 profile_details'>";
                detailsMessage += "<div class='well profile_view'>";
                detailsMessage += "<div class='col-sm-12'>";                
                detailsMessage += "<div class='center col-xs-12 text-center'>";
                detailsMessage += "<h1> Pago No.<br />" + result[0].Numero + "</h1>" + "<br />";
                detailsMessage += "</div>";
                detailsMessage += "<div class='text-center col-xs-12'>";                
                detailsMessage += "<div class='center col-xs-4'><i class='fa fa-flag'></i> Estado de Pago <br /><br />" + result[0].estado + "<br /><br />";
                detailsMessage += "</div>";                 
                detailsMessage += "<div class='center col-xs-4'><i class='fa fa-usd'></i> Monto Total <br /><br />" + result[0].MontoTotal;;
                detailsMessage += "</div>";
                detailsMessage += "<div class='center col-xs-4'><i class='fa fa-calendar-o'></i> Fecha de Pago <br /><br />" + DateFormat(result[0].FechaPago);
                detailsMessage += "</div>";                
                detailsMessage += "</div>";                
                detailsMessage += "</div>";
                detailsMessage += "<div class='col-xs-12 bottom text-center'>";
                detailsMessage += "<div class='col-xs-12 col-sm-12 emphasis'> Se cancelara el pago de todas las facturas realcionadas a este pago.";
                detailsMessage += "</div>";
                detailsMessage += "</div>";
                detailsMessage += "</div>";
                detailsMessage += "</div><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />";                

                bootbox.confirm({              
                    title: "<div class='text-center'>Cancelacion de pago</div>",                    
                    message: detailsMessage,
                    buttons: {
                        confirm: {
                            label: "<i class='fa fa-warning'></i> Cancelar pago",
                            className: 'btn-warning'
                        },
                        cancel: {
                            label: "<i class='fa fa-times-circle'></i> Cerrar",
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            cancelacionConfirmada(ID);
                        }
                    }
                });
            },
            error: function (error) {
                console.log(error);
                alert(error)
            }
        });
    }

    var cancelacionConfirmada = function (ID) {
        $.ajax({
            url: "/pagoes/CancelarPago",
            type: "POST",
            data: { id: ID },
            success: function (result) {

                if (result === "Error") {
                    toastr.error('Este pago ya esta cancelado');
                }
                else {
                    toastr.success('Cancelacion Exitosa.');
                }

                table.draw();
            },
            error: function (error) {
                console.log(error);
                alert(error)
            }
        });

    }

    var detalles = function (ID) {
        $.ajaxSetup({ cache: false });
        var EditUrl = "/pagoes/VistaDetalles/" + ID;
        $("#MyModalContent").load(EditUrl, function () {
            $("#MyModal").modal({
                //backdrop: 'static',
                keyboard: false
            }, 'show');
            bindForm(this);
        });
        return false;
    }

    function DateFormat(data) {
        var data1 = data.replace("/Date(", "").replace(")/", "");
        var date = new Date(parseInt(data1));
        var month = date.getMonth() + 1;
        return date.getDate() + "/" + (month.toString().length > 1 ? month : "0" + month) + "/" + date.getFullYear();
    }

    $(document).ready(function () {
        table = $('#datatablepago').DataTable({
            "order": [[0, "desc"]],
            "ordering": true,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "pagingType": "simple_numbers",
            "dom": 'Blrtip', // Hides Default Search
            "processing": true,
            "serverSide": true,
            "orderMulti": false,
            "deferRender": true,
            rowId: 'id',            
            select: true,
            "ajax": {
                "url": "/pagoes/ObtenerPagos",
                "type": "POST",
                "datatype": "json"
            },
            buttons: [

                {
                    extend: 'copyHtml5',
                    text: '<i class="fa fa-files-o"></i>',
                    titleAttr: 'COPIAR',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i>',
                    titleAttr: 'IMPRIMIR',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'excel',
                    text: '<i class="fa fa-file-excel-o"></i>',
                    titleAttr: 'EXCEL',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'pdf',
                    text: '<i class="fa fa-file-pdf-o"></i>',
                    titleAttr: 'PDF',
                    orientation: 'landscape',
                    exportOptions: {
                        columns: ':visible'
                    }
                }

            ],
            "aoColumns": [
                //0
                { "data": "id", "autoWidth": true, "visible": false },
                { "data": "Numero", "autoWidth": true },
                { "data": "statusString", "autoWidth": true },   
                { "data": "TotalString", "autoWidth": true },   
                {
                    "data": "FechaPago",
                    "name": "FechaPago",
                    "render": function (data, type, full) {

                        var data1 = data.replace("/Date(", "").replace(")/", "");
                        var date = new Date(parseInt(data1));
                        var month = date.getMonth() + 1;
                        return date.getDate() + "-" + (month.toString().length > 1 ? month : "0" + month) + "-" + date.getFullYear();
                    },
                    "autoWidth": true
                },
                {
                    "data": null,
                    "targets": -1,
                    "render": function (data, type, full) {
                        return "<a  onclick='detalles(" + full['id'] + ")' id='btnEdit" + full['id'] + "' class='btn btn-info'><i class='glyphicon glyphicon-list-alt'></i></a>" +
                            " <button onclick='cancelacion(" + full['id'] + ")' class='btn btn-danger '><i class='glyphicon glyphicon-trash'></i></button>";
                    },
                    "bSearchable": false,
                    "sortable": false,
                    "autoWidth": true,
                    "sWidth": "100px"
                }
            ]
        });
    });
</script>

